.users-list-wrap-container{
  width: 100%;
  margin-top: 90px;
}

.users-list-container{
  float: left;
  width: 400px;
}

.users-list-container select{
  width: 180px;
  height: 200px;
  float: left;
}

.users-list-container button{
  display: block;
  margin-bottom: 10px;
  width: 95px;
}

.users-list-container h2{
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 0;
}

.users-description-container span{
  display: block;
  margin-bottom: 10px;

}

.unBold{
  font-weight: normal;
}
