<div class="container">

  <div class="main-window">
    <h1> System zarzadzania pokojami </h1>

    <div class="menu-container">
      <a ui-sref="rooms">Pokoje</a>
      <a ui-sref="users">Użytkownicy</a>
    </div>


    <div class="rooms-list-wrap-container"></div>

      <pre class="rooms-list-pre-container">
      <div class="rooms-list-container">
        <h2>Pokoje</h2>
        <select size="15"
                ng-model="rooms.selectedRoom"
                ng-options="room as room.name for room in rooms.rooms">
          <option>{{room}}</option>
        </select>
        <button ng-click="rooms.openAddRoomModal()" > add room</button>
        <button ng-click="rooms.deleteRoom(rooms.selectedRoom.id)"> delete room</button>
      </div>
        </pre>

    <div class="rooms-description-container container">
      <h2>Opis</h2>
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <label class="unBold" id="name">{{rooms.selectedRoom.name}}</label>
       </div>
      <div class="form-group">
        <label for="description">Opis:</label>
        <label class="unBold" id="description">{{rooms.selectedRoom.description}}</label>
       </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <label class="unBold" id="price">{{rooms.selectedRoom.price}}</label>
       </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="date" class="form-control" uib-datepicker-popup="{{rooms.format}}" ng-model="rooms.dateFrom" is-open="rooms.status.openDateFrom" min-date="rooms.minDate" max-date="rooms.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="rooms.openDateFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="date" class="form-control" uib-datepicker-popup="{{rooms.format}}" ng-model="rooms.dateTo" is-open="rooms.status.openDateTo" min-date="rooms.dateFrom.addDays(1)" max-date="rooms.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="rooms.openDateTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </div>
  </div>


</div>



</div>
