
.rooms-list-wrap-container{
  width: 400px;
  margin-top: 90px;
}

pre.rooms-list-pre-container {
  width: 330px;
  float: left;
  margin-right: 100px;
}

.rooms-list-container{
  float: left;
  width: 300px;
  margin-top: -50px;
}


.rooms-list-container select{
  width: 180px;
  height: 200px;
  float: left;
}

.rooms-list-container button{
  display: block;
  margin-bottom: 10px;
  width: 110px;
  margin-top: -35px;
}

.rooms-list-container h2{
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 0;
}

.rooms-description-container span{
  display: block;
  margin-bottom: 10px;

}

.unBold{
  font-weight: normal;
}
